/* :root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
} */

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid lime; */
} */

/* цвет основного шрифта #212121; */
/* вторичный цвет #757575; */
/* белый цвет #FFFFFF; */
/* акцент "Лого" #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* 
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */



.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

