.join-item {
  margin-right: 93px;

  .join {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
  }
}

.social-icons-list-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .social-icons-link-footer {
    fill: $white-color;
  }
}

.social-icons-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $white-color;
    background-color: $accent-text-color;
  }
}


