.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link,
.contacts-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.contact-icon {
  fill: $contact-color;
  margin-right: 10px;
  vertical-align: middle;

  &:hover .contact-icon {
    fill: $accent-text-color;
  }
}

.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 4px;
  background: $accent-text-color;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after,
  &:focus::after {
    opacity: 1;
  }
}

.link .mail {
  margin-right: 50px;
}
